a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.page {
  margin: 0 auto 0 auto;
  background-color: #e7f4fc;
}
.login {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  font-family: SimSun;
  font-size: 13px;
  overflow: hidden;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.8);
}
.login .login_content {
  width: 961px;
  margin: 0 auto;
}
.login .login_content .user {
  float: right;
}
.login .login_content .user a {
  color: #666666;
}
.login .login_content .user a div {
  display: inline-block;
  margin-top: 4px;
  padding: 6px 10px;
}
.login .login_content .user a #user_login {
  border-right: solid 1px #e7e7e7;
}
.login .login_line {
  width: 100%;
  height: 2px;
  background-image: url("../img/login.png");
  margin-top: 32px;
}
.head_x {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1 1px 1px #e0f1fb;
  -moz-box-shadow: 0 1 1px 1px #e0f1fb;
  box-shadow: 0 1 1px 1px #e0f1fb;
}
.head_x .head {
  overflow: hidden;
  width: 961px;
  padding-bottom: 12px;
  margin: 67px auto 0 auto;
}
.head_x .head .logo {
  float: left;
}
.head_x .head .nav {
  float: right;
  width: 693px;
  height: 38px;
  background: -ms-linear-gradient(top, #1ea3e6, #1788df);
  /* IE 10 */
  background: -moz-linear-gradient(top, #1ea3e6, #1788df);
  /*火狐*/
  /*谷歌*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1ea3e6), to(#1788df));
  /* Safari 4-5, Chrome 1-9*/
  background: -webkit-linear-gradient(top, #1ea3e6, #1788df);
  /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #1ea3e6, #1788df);
  /*Opera 11.10+*/
  background-color: #1b97e3;
  line-height: 37px;
  -moz-border-radius: 4px;
  /* Gecko browsers */
  -webkit-border-radius: 4px;
  /* Webkit browsers */
  border-radius: 4px;
  /* W3C syntax */
  -webkit-box-shadow: 0 0 1px 1px #dedddd;
  -moz-box-shadow: 0 0 1px 1px #dedddd;
  box-shadow: 0 0 1px 1px #dedddd;
}
.head_x .head .nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.head_x .head .nav ul li {
  text-align: center;
  width: 80px;
  height: 100%;
  display: inline-block;
  margin: 0 12px 0 12px;
  -moz-border-radius: 4px;
  /* Gecko browsers */
  -webkit-border-radius: 4px;
  /* Webkit browsers */
  border-radius: 4px;
  /* W3C syntax */
}
.head_x .head .nav ul li:hover {
  background-image: url('../img/nav_hover.png');
  background-position: bottom;
  background-repeat: no-repeat;
}
.head_x .head .nav ul li a {
  font-size: 15px;
  color: #ffffff;
}
.content {
  font-family: Microsoft YaHei;
  margin: 0 auto 0 auto;
}
.content .main {
  background: #dff0fb;
  overflow: hidden;
  width: 100%;
}
.content .main .the_news {
  overflow: hidden;
  width: 961px;
  background: #fff;
  margin: 13px auto 0;
}
.content .main .the_news .news_left {
  width: 200px;
  overflow: hidden;
  margin-left: 20px;
  margin-top: 60px;
  float: left;
}
.content .main .the_news .news_left h3 {
  background: url("../img/infomation.png") no-repeat -3px 0;
  line-height: 34px;
  font-size: 16px;
  float: left;
  color: #fff;
  padding: 0 60px 0;
  margin: 0;
  font-weight: normal;
}
.content .main .the_news .news_left ul {
  float: left;
  margin: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 50px;
  border: 1px solid #f6f6f6;
}
.content .main .the_news .news_left ul li {
  line-height: 30px;
  padding-left: 20px;
  font-size: 14px;
  color: #979797;
  padding-right: 90px;
}
.content .main .the_news .news_left ul li:hover {
  color: #1492f0;
  background: #f5fbff;
  cursor: pointer;
}
.content .main .the_news .news_right {
  margin-top: 16px;
  width: 730px;
  float: right;
}
.content .main .the_news .news_right h1 {
  font-weight: normal;
  font-size: 18px;
  padding-left: 22px;
  background: url("../img/message.png") no-repeat 0 50%;
  color: #333333;
}
.content .main .the_news .news_right .news_line {
  width: 717px;
  height: 2px;
  border-bottom: 1px solid #e1e1e1;
}
.content .main .the_news .news_right .news_content {
  font-size: 14px;
}
.content .main .the_news .news_right .news_content ul {
  padding: 0;
  margin-left: 20px;
}
.content .main .the_news .news_right .news_content ul li {
  line-height: 30px;
}
.content .main .the_news .news_right .news_content ul .news_title {
  color: #333333;
}
.content .main .the_news .news_right .news_content ul .news_title:hover {
  color: #0078cd;
  cursor: pointer;
}
.content .main .the_news .news_right .news_content ul .news_click {
  color: #666666;
  margin-right: 70px;
  margin-left: 170px;
}
.content .main .the_news .news_right .news_content ul .news_date {
  color: #666666;
}
.content .main .the_news .news_right .news_page {
  float: right;
  margin-right: 30px;
  font-size: 14px;
  margin-bottom: 100px;
  margin-top: 10px;
}
.content .main .the_news .news_right .news_page a {
  margin-right: 5px;
  color: #999999;
}
.content .main .the_news .news_right .news_page a:hover {
  color: #333333;
}
.footer {
  padding-top: 83px;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: -20px;
  font-family: SimSun;
  color: #000;
  font-size: 12px;
  background: #dff0fb;
}
.footer a {
  color: #000;
  font-size: 12px;
}
.footer a:hover {
  color: #999999;
}
#show {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
}
#show .show_login {
  width: 400px;
  height: 250px;
  background-color: #ffffff;
  margin: 130px auto 0 auto;
}
#show .show_login img {
  float: right;
  margin: 10px;
  cursor: pointer;
}
#show .show_login h3 {
  font-family: Microsoft Yahei, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
  color: #333333;
  letter-spacing: 5px;
  width: 55px;
  margin: 0 auto 22px auto;
  -webkit-font-smoothing: antialiased;
}
#show .show_login form div {
  width: 255px;
  height: 32px;
  border: solid 1px #e4e4e4;
  margin: 0 auto 20px auto;
  -moz-border-radius: 3px;
  /* Gecko browsers */
  -webkit-border-radius: 3px;
  /* Webkit browsers */
  border-radius: 3px;
  /* W3C syntax */
}
#show .show_login form div img {
  margin: 4px 8px 0 8px;
  float: left;
}
#show .show_login form div input {
  margin-top: 4px;
  width: 209px;
  height: 22px;
  border: 0;
  border-left: solid 1px #999999;
  color: #999999;
  font-size: 14px;
  font-family: SimSun;
  outline: none;
  text-indent: 1em;
}
#show .show_login form .sub {
  display: block;
  background-color: #1b97e3;
  background: -ms-linear-gradient(top, #1ea3e6, #1788df);
  /* IE 10 */
  background: -moz-linear-gradient(top, #1ea3e6, #1788df);
  /*火狐*/
  /*谷歌*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1ea3e6), to(#1788df));
  /* Safari 4-5, Chrome 1-9*/
  background: -webkit-linear-gradient(top, #1ea3e6, #1788df);
  /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #1ea3e6, #1788df);
  /*Opera 11.10+*/
  width: 255px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0 auto 0 auto;
  font-family: Microsoft Yahei, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffffff;
  -webkit-box-shadow: 0 1px 1px 1px #d7d6d6;
  -moz-box-shadow: 0 1px 1px 1px #d7d6d6;
  box-shadow: 0 1px 1px 1px #d7d6d6;
  cursor: pointer;
}
